<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
                <binding name="WebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61277/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap" contract="ws.WebServiceSoap"
                name="WebServiceSoap" />
            <endpoint address="http://localhost:61277/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap1" contract="wss.WebServiceSoap"
                name="WebServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>